.toolbar-buttons {
    display: flex;
    justify-content: space-between; /* Adjust alignment as needed */
  }
  
  .toolbar-button,
  .toolbar-color-button {
    width: 20%; /* Adjust width as needed */
    height: 50px; /* Adjust height as needed */
    margin: 0 0px; /* Adjust margin as needed */
    border: none;
    background-size: cover;
  }
  
  .toolbar-slider {
    width: 20%; /* Adjust width as needed */
    margin: 0 10px; /* Adjust margin as needed */
  }
  